@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #14532d;     /* Verde escuro natural */
    --cor-secundaria: #0a0a0a;    /* Preto */
    --cor-destaque: #22c55e;      /* Verde-limão para destacar */
    --cor-fundo: #e6f4ea;         /* Verde claro de fundo */
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    margin: 0;
    padding: 0;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-destaque);
}

header {
    background-color: var(--cor-secundaria);
    color: white;
    padding: 40px 20px;
    border-radius: 0 0 20px 20px;
}

.badge {
    background-color: var(--cor-principal);
    color: white;
    padding: 10px;
    font-weight: 500;
}

footer {
    background-color: var(--cor-secundaria);
    color: white;
    padding: 30px 0;
}
